<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="User">
	<resultMap id="BaseResultMap" type="UserDO">
		<id column="id" property="id" />
		<result column="phone_num" property="phoneNum" />
		<result column="pwd" property="pwd" />
		<result column="user_name" property="userName" />
		<result column="identity_num" property="identityNum" />
		<result column="card_num" property="cardNum" />
		<result column="balance" property="balance" />
		<result column="create_time" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, phone_num,pwd, user_name, identity_num, card_num, balance,create_time
	</sql>

	<sql id="where">
		<where>
			<if test="id!=null and id!=0">
				AND id = #{id}
			</if>
			<if test="phoneNum!=null and phoneNum!=''">
				AND phone_num = #{phoneNum}
			</if>
			<if test="pwd!=null and pwd!=''">
				AND pwd = #{pwd}
			</if>
		</where>
	</sql>

	<select id="selectMemberCount" resultType="Integer"
		parameterType="map">
		select count(*)
		from tb_user
		<include refid="where" />
	</select>
	<select id="selectMemberList" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_user
		<include refid="where" />
		<include refid="common.pageUtil" />
	</select>





	<select id="selectOneUser" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_user
		<include refid="where" />
	</select>

	<insert id="addUser" parameterType="UserDO">
		insert into tb_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="phoneNum != null and phoneNum != ''">
				phone_num,
			</if>
			<if test="pwd != null and pwd != ''">
				pwd,
			</if>
			<if test="userName != null and userName != ''">
				user_name,
			</if>
			<if test="identityNum != null and identityNum != ''">
				identity_num,
			</if>
			<if test="cardNum != null and cardNum != ''">
				card_num,
			</if>
			<if test="balance != null and balance != ''">
				balance,
			</if>
			create_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="phoneNum != null and phoneNum != ''">
				#{phoneNum},
			</if>
			<if test="pwd != null and pwd != ''">
				#{pwd},
			</if>
			<if test="userName != null and userName != ''">
				#{userName},
			</if>
			<if test="identityNum != null and identityNum != ''">
				#{identityNum},
			</if>
			<if test="cardNum != null and cardNum != ''">
				#{cardNum},
			</if>
			<if test="balance != null and balance != ''">
				#{balance},
			</if>
			now()
		</trim>
	</insert>

	<update id="updateUser" parameterType="UserDO">
		update tb_user
		<set>
			<if test="pwd != null and pwd != ''">
				pwd= #{pwd},
			</if>
			<if test="userName != null and userName != ''">
				user_name= #{userName},
			</if>
			<if test="identityNum != null and identityNum != ''">
				identity_num= #{identityNum},
			</if>
			<if test="cardNum != null and cardNum != ''">
				card_num = #{cardNum},
			</if>
			<if test="balance != null and balance != ''">
				balance = #{balance},
			</if>
		</set>
		<include refid="where" />
	</update>



	<delete id="deleteMember" parameterType="UserDO">
		delete from tb_user
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</delete>


</mapper>
