<?xml version="1.0" encoding="UTF-8"?>

  <beans xmlns="http://www.springframework.org/schema/beans"     
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"     
       xmlns:context="http://www.springframework.org/schema/context"     
   	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd   
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">   

 <context:annotation-config />   
  <!--  把标记了@Controller注解的类转换为bean -->
  <!-- <context:component-scan base-package="com.people.sotp" />      -->
  <!-- 扫描所有的controller 但是不扫描service-->  
  <context:component-scan base-package="com.people.sotp">  
  	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />  
  	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />  
  </context:component-scan>  
  <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射      -->

  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />     

  <!--  对模型视图名称的解析，即在模型视图名称添加前后缀      -->
	<!-- 
  <bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>
	 -->
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"     
          p:defaultEncoding="utf-8" /> 
          
          
          <!-- freemarker -->
          
          
              
          <!-- 国际化设置 -->
           <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="cacheSeconds" value="-1"/>
		<property name="basenames">
			<list>
				<value>/WEB-INF/languages/jeecore_admin/messages</value>
				<value>/WEB-INF/languages/jeecms_admin/messages</value>
				<value>/WEB-INF/languages/jeecms_tpl/messages</value>
				<value>/WEB-INF/languages/fck/messages</value>
			</list>
		</property>
	</bean>
          
          
          
          <bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName" value="clientlanguage" />
		<property name="cookieMaxAge" value="-1" />
	</bean>
          
          <bean id="freemarkerViewResolver" class="com.people.sotp.freemarker.RichFreeMarkerViewResolver">
		<property name="prefix" value="/jeecms_sys/"/>
		<property name="suffix" value=".html"/>
		<property name="contentType" value="text/html; charset=UTF-8"/>
		<property name="exposeRequestAttributes" value="false"/>
		<property name="exposeSessionAttributes" value="false"/>
		<property name="exposeSpringMacroHelpers" value="true"/>
	</bean>
		<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF"/>
		<property name="freemarkerVariables">
			<map>
				<!--在FCK编辑器中需要用到appBase，以确定connector路径。-->
				<entry key="appBase" value="/jeeadmin/jeecms"/>
				<!--后台管理权限控制-->
				
				<entry key="text_cut" value-ref="text_cut"/>
				<entry key="html_cut" value-ref="html_cut"/>
			</map>
		</property>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="defaultEncoding">UTF-8</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="boolean_format">true,false</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="number_format">0.######</prop>
				<prop key="whitespace_stripping">true</prop>
				<prop key="auto_import">/ftl/jeecms/index.ftl as p,/ftl/spring.ftl as s</prop>
			</props>
		</property>
	</bean>
      
          
          
          
    <bean id="uuid" class="com.people.sotp.freemarker.UUIDDirective"/>
	<bean id="process_time" class="com.people.sotp.freemarker.ProcessTimeDirective"/>
	<bean id="text_cut" class="com.people.sotp.freemarker.TextCutDirective"/>
	<bean id="html_cut" class="com.people.sotp.freemarker.HtmlCutDirective"/>
          
          
          
          
          
          
          
 </beans>  