<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserFeedback" >
  <resultMap id="BaseResultMap" type="UserFeedbackDO" >
    <result column="phone_num" property="phoneNum" />
    <result column="feedback_info" property="feedbackInfo" />
  </resultMap>
  
  
  
  <sql id="Base_Column_List" >
    phone_num,feedbackInfo
  </sql>
  
  
  
  <sql id="where">
  	<where>
  	<if test="phone_num!=null and phone_num!=''" >
        AND phone_num = #{phoneNum}
      </if>
  	</where>
  </sql>
  
  <select id="selectCountAuditLog" resultType="Integer" parameterType="map" >
  	select count(*)
  	from t_user_feedback
  	<include refid="where"/>
  </select>
  <select id="selectAuditLogList" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from t_user_feedback
    <include refid="where"/>
    <include refid="common.pageUtil"/>
  </select>
  
  
    <insert id="addUserfeedback" parameterType="UserFeedbackDO" >
    	insert into t_user_feedback
      <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phoneNum != null" >
        phone_num,
      </if>
       <if test="feedbackInfo != null" >
        feedback_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phoneNum != null" >
        #{phoneNum},
      </if>
      <if test="feedbackInfo != null" >
        #{feedbackInfo},
      </if>
    </trim>
  </insert>
  
  
  
  
</mapper>